:root {
    --text: #0e1815;
    --background: #f8fbfa;
    --primary: #69a790;
    --secondary: #abbacd;
    --accent: #929ac2;
}
[data-theme="dark"] {
    --text: #e9f2ef;
    --background: #040606;
    --primary: #64a28b;
    --secondary: #324053;
    --accent: #3d446c;
}
