@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--text);
    font-family: "Inter", sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
}
:root, [data-theme="dark"] {
    transition: background-color 0.2s ease, color 0.2s ease;
}
